* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.color {
  background: #000 !important;
}

.lateral {
  background-image: url(../assets/lateral.svg);
  background-size: cover;
  background-color: #e8e7e5;
}
.foto {
  width: 100%;
  height: 400px;
  background-image: url(../assets/background.svg);
  background-size: cover;
}

.img-logo {
  width: 50px;
  height: auto;
}

.img-games {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.bk-color {
  background-color: #e8e7e5;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.footer {
  background: #000;
  padding: 30px 0px;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.games-shadow:hover {
  transform: 0.5;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.games-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 0;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.font-weight-bold {
  font-weight: bold;
}

.game-box {
  background-color: #ced4da;
  border: 2px solid #ced4da;
  padding: 1%;
}

.current {
  font-weight: bold !important;
}

.spacer {
  margin-left: 14% !important;
}

.btn-custom {
  background-color: #2c6ea9 !important;
  border-color: #2c6ea9 !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: #1a4771 !important;
  border-color: #1a4771 !important;
}

.btn-add {
  background-color: #169992 !important;
  border-color: #169992 !important;
  color: #fff !important;
}

.btn-add:hover {
  background-color: #0f6b6b !important;
  border-color: #0f6b6b !important;
}

.background-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  min-height: 300px !important;
}

.btn-margen {
  margin-bottom: 20px;
}

.custom-div-color {
  background-color:#dad7d7 ;
}

.btn-logOut {
  cursor: pointer;
}

@media (max-width: 768px) {
  .img-logo {
    display: none;
  }
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
}